<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link  href="assets/css/bootstrap.css" rel="stylesheet">
    <link  href="assets/css/bootstrap.css.map" rel="stylesheet">
    <link  href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link  href="assets/css/bootstrap.min.css.map" rel="stylesheet">





    <style>

    @import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fondamento&family=Yuji+Boku&display=swap");
/******************block1**********************/
/**********************************************/
#block1{
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  animation:log 1s ease forwards;
  animation-delay: 1s;
}
@keyframes log{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
nav {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #360033;
  background: -webkit-linear-gradient(-8deg, #0b8793, #360033);
  background: linear-gradient(-8deg, #0b8793, #360033);
}

ul {
  margin-bottom: 0;
}

.navbar {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-menu li {
  list-style: none;
  padding: 0 1rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#o1{
    animation:linko 1s ease forwards;
  animation-delay: 1s;
}
@keyframes linko{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}
#o2{
    animation:linko1 2s ease forwards;
  animation-delay: 1s;
}
@keyframes linko1{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}
#o3{
    animation:linko2 3s ease forwards;
  animation-delay: 1s;
}
@keyframes linko2{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}
#o4{
    animation:linko3 4s ease forwards;
  animation-delay: 1s;
}
@keyframes linko3{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}
#o5{
    animation:linko4 5s ease forwards;
  animation-delay: 1s;
}
@keyframes linko4{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}
#o6{
    animation:linko5 6s ease forwards;
  animation-delay: 1s;
}
@keyframes linko5{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
    }
}
   
   
   
   
   
a.nav-link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.bar,
.fa-times {
  width: 1.5rem;
  height: 3px;
  display: block;
  color: #fff;
  padding: 0;
  margin: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.bar:nth-child(1) {
  width: 100%;
}

.bar:nth-child(2) {
  width: 200%;
}

.bar:nth-child(3) {
  width: 300%;
}

@media (max-width: 992px) {
  .hamburger {
    display: block;
  }
  .active .bar:nth-child(2) {
    opacity: 0;
  }
  .active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
    width: 300%;
  }
  .active .bar:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    width: 300%;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0 auto;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  a.nav-link {
    margin: 1rem 0;
    color: #333;
    z-index: 1;
  }

  .active {
    right: 0;
    z-index: 100;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 480px) {
  a.nav-link {
    padding: 0.75rem 0;
  }
}
/******************block2**********************/
/**********************************************/
#block2{
    background-image: url(images/Calque\ 2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.accroche{
    color: white;
    font-weight: bold;
    font-size: 40px;
    animation:acc 1s ease forwards;
    animation-delay: 1s;
}
@keyframes acc{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.accroche1{
    color: white;
    font-weight: bold;
    font-size: 40px;
    animation:acc1 2s ease forwards;
    animation-delay: 2s;
}
@keyframes acc1{
    0%{
        transform: translateX(500px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.accroche2{
    color: white;
    font-weight: bold;
    font-size: 40px;
    animation:acc2 3s ease forwards;
    animation-delay: 2s;
}
@keyframes acc2{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.des{
    margin-top: 50px;
    padding: 150px;
}

.head{
    color: white;
    font-family: cursive;
}
h2{
    font-family: cursive;
}
.button{
    margin-top: 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    height: 80px;
    width: 200px;
    animation:bu 3s ease forwards;
    animation-delay: 2s;
}
.button:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
}

@keyframes bu{
    0%{
        transform: translateY(150px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/******************block3**********************/
/**********************************************/
#block3{
    background-color: rgb(233, 232, 232);
}
.place{
    margin-top: 40px;
    font-size: 50px;
    font-weight: 800;
    padding: 20px;
}
#none{
    text-decoration: none;
    color: black;
}
#none:hover{
    color: orange;
    text-decoration: solid red;
}
.li{
    margin-top: 60px;
    padding: 20px;
   text-align: center;
}
.card-img-top{
    height: 350px;
    width: 100%;
}
.down{
    margin-top: 100px;
}
/******************block6**********************/
/**********************************************/
.benin{
  margin-top:50px;
  color: #3A6073;
  text-align: center;
}
.benin-para{
  color: black;
  font-weight: 300;
  font-size: 25px;
}
#block6{
 
}
#ani{
  background-color: rgb(26, 25, 25);
}
#ani1{
  background-color: rgba(216, 64, 9, 0.829);
}
.anyclass{
  color:white;
  margin-left: 30px;
  transform:translateY(60px);
  position: absolute;
}
.ol{
  margin-top: 50px;
}
.any{
  border-radius: 75px;
  height: 150px;
  width: 150px;
  margin-top: 50px;
  background-color: #3A6073;
  animation: anyo 3s ease-in-out infinite;
  animation-delay: 3s;
}
@keyframes anyo{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  25%{
    transform: translateY(-24px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(-24px);
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.any:hover{
  background-color: #007bb7;
}
/******************block4**********************/
/**********************************************/
#block4{
    background-image: url(images/Calque\ 7.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(2) drop-shadow(15px 15px 15px rgb(0, 0, 0)); 
}
.pour{
    color: rgb(216, 213, 213);
    font-weight: 800;
    font-size: 45px;
}
.about{
    color: white;
    font-size: 25px;
}
.cont-im{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-color: white;
    border: 2px solid white;
}
.cont-im:hover{
    background-color: rgba(199, 59, 8, 0.87);
    border: 2px solid rgba(199, 59, 8, 0.87);
    transition: 2s;
}
.four{
    margin-top: 40px;
   width: 175px;
   height: 175px;
   border-radius: 80px;
}
.title{
    color: white;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.recit{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/******************block5**********************/
/**********************************************/
#block5{
  background-image: linear-gradient(rgba(12, 114, 182, 0.637),rgb(15, 15, 15),#3A6073);

}

/*FOOTER*/

footer {
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
a{
  text-decoration: none;
}
/******************block7**********************/
/**********************************************/
#block7{
  background-color: rgba(177, 8, 8, 0.856);
}
.visit{
  color: black;
  text-align: center;
  margin-top: 30px;
}
/******************block8**********************/
/**********************************************/
#block8{

}
.card-img{
  height: 250px;
}
h2{
  text-align: center;
}
    </style>


    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
         <!--christ coding-->
        <div class="row" id="block1">
            <nav>
                <div class="logo">KWABO Benin</div>
              
                <div class="navbar">
                  <ul class="nav-menu">
                    <li class="nav-item"><a href="#" class="nav-link" id="o1">Accueil</a></li>
                    <li class="nav-item"><a href="Apropos.html" class="nav-link" id="o2">A Propos</a></li>
                    <li class="nav-item"><a href="Catalogue.html" class="nav-link" id="o3">Catalogue</a></li>
                    <li class="nav-item"><a href="Contact.html" class="nav-link" id="o4">Contact</a></li>
                    <li class="nav-item"><a href="Inscription.html" class="nav-link" id="o5">S'inscrire</a></li>
                    <li class="nav-item"><a href="Connexion.html" class="nav-link" id="o6">Se Connecter</a></li>
                  </ul>
                </div>
              
                <div class="menu">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </div>
              </nav>
        </div>
      <div class="row" id="block2">
      <center>
        <div class="des">
            <p class="head">
                RECHERCHEZ-VOUS UN SITE A VISITER DURANT VOTRE SEJOUR AU BENIN?
            </p>
            <h2 class="accroche">
                BIENVENUE SUR KWABO BENIN 
           </h2>
           <h2 class="accroche1">
              UNE PLATE-FORME QUI REPOND 
            </h2>
            <h2 class="accroche2">
            PARFAITEMENT A VOTRE DESIR
            </h2>
            <button class="button">Commencer</button>
        </div>
      </center>
      </div>
      <div class="row" id="block3">
        <div class="col-sm-6">
            <h1 class="place">
                Places Populaires
            </h1>
        </div>
        <div class="col-sm-6">
            <p class="li">
                <a href="" id="none" class="activ">Place publiques</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" id="none">Sites touristiques</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" id="none">Voir plus</a>
            </p>
        </div>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/Calque 3.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Place de l'Amazone</h5>
                                <p class="card-text">Cotonou</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="images/Calque 4.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Monument BIO-GUERRA</h5>
                                <p class="card-text">Cotonou</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/Calque 5.jpg" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Monument aux devoués</h5>
                                <p class="card-text">Cotonou</p>
                            </div>
                        </div>
                    </div>
                    <div class="down"></div>
                </div>
            </div>
        </div>
      </div>
       <!--christ coding-->
      <div class="row" id="block6">
        <div class="col-sm-5">
            <center>
            <div class="milieu">
                <h1 class="benin">
                    Le Benin ?
                </h1>
                <p class="benin-para">
                    Le Benin est un pays francophone d'Afrique de l'Ouest. Il est le berceau de la religion voudoun. Ancien royaume du Dahomey, il est un pays regorgeant de multiples cultures et traditions sources de diversité culturelles. Venir au Benin, est synonyme de decouverte,
                    d'exploration,de mystère et bien d'autres experiences excitante.
                </p>
            </div>
            </center>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6" id="ani">
                        <center>
                            <div class="any">
                                <h4 class="anyclass">Unité</h4>
                            </div> 
                        </center>  
                        <div class="ol"></div>                 
                </div>
                <div class="col-sm-6" id="ani1">
                   <center>
                    <div class="any">
                        <h4 class="anyclass">Courage</h4>
                    </div>  
                   </center>        
                   <div class="ol"></div>                
            </div>
            </div>
            <div class="row">
                <div class="col-sm-6" id="ani1">
                  <center>
                    <div class="any">
                        <h4 class="anyclass">Amour</h4>
                    </div>         
                  </center>      
                  <div class="ol"></div>           
            </div>
            <div class="col-sm-6" id="ani">
              <center>
                <div class="any">
                    <h4 class="anyclass">Travail</h4>
                </div>  
              </center>         
              <div class="ol"></div>               
        </div>
            </div>
        </div>
    </div>
      <div class="row" id="block4">
        <center>
            <h1 class="pour">
                POURQUOI NOUS?
            </h1>
            <p class="about">
                Une entreprise à laquelle vous pouvez faire confiance et sur laquelle vous pouez compter <br>
                en faisant des reservations de sites que vous souhaiter visiter lors de votre sejour au Benin.
            </p>
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="cont-im">
                                <img src="assets/images/image-removebg-preview (41).png" alt="" class="four">
                            </div>
                            <h2 class="title">
                                UN SERVICES AUX <br> MEILLEURS COÜTS
                            </h2>
                            <p class="recit">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae velit, quaerat, consequuntur quam neque maiores impedit quasi delectus fugit esse architecto ipsam error sapiente at, ipsa rem dolorum saepe assumenda.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <div class="cont-im">
                                <img src="assets/images/image-removebg-preview (39).jpg" alt="" class="four">
                            </div>
                            <h2 class="title">
                                UNE GRANDE VARIETE<br> DE DESTINATION BENIN
                            </h2>
                            <p class="recit">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae velit, quaerat, consequuntur quam neque maiores impedit quasi delectus fugit esse architecto ipsam error sapiente at, ipsa rem dolorum saepe assumenda.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <div class="cont-im">
                                <img src="assets/images/image-removebg-preview (40).png" alt="" class="four">
                            </div>
                            <h2 class="title">
                                UN SERVICES <br> HAUTEMENT QUALIFIE
                            </h2>
                            <p class="recit">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae velit, quaerat, consequuntur quam neque maiores impedit quasi delectus fugit esse architecto ipsam error sapiente at, ipsa rem dolorum saepe assumenda.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="down"></div>
        </center>
      </div>
      <div class="row" id="block7">
        <div class="container">
            <div class="container">
                <div class="container">
                    <h2 class="visit">
                        Nous visiter?
                    </h2>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="assets/images/1280px-Affiche_de_la_traite_négrière_au_Musée_Da_Sylva.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/1280px-Cour_extérieure_du_Musée_Honmè.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/1920px-Front_yard_Musee_Honme_Porto_Novo_Benin_Dec_2017.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/1280px-Plaque_devant_le_musée_Akaba_Idena.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="assets/images/Vue_de_pose_première_Pièrre_du_Statut_au_carrefour_KABA_de_Natitingou.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <div class="down"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="row" id="block8">
        <div class="container">
            <div class="container">
                
                <div class="row">
                    <div class="down"></div>
                    <h2>Nos Musées</h2>
                    <div class="col-sm-3">
                        <div class="card bg-dark text-white">
                          <img class="card-img" src="assets/images/1280px-Honmé2.jpg" alt="">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Homè</h4>
                            <p class="card-text">Palais culturel</p>
                          </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="card bg-dark text-white">
                          <img class="card-img" src="assets/images/1280px-Musée_Régional_Natitingou(l'entree).jpg" alt="">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Musée Régional Natitingou</h4>
                            <p class="card-text">Une affiche de l'entrée du musée</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card bg-dark text-white">
                          <img class="card-img" src="assets/images/1280px-Récade-Musée_du_quai_Branly_(3).jpg" alt="">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Musée du quai Branly</h4>
                            <p class="card-text">Recade</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card bg-dark text-white">
                          <img class="card-img" src="assets/images/Chambre_du_non_retour_au_musée_Akaba_idena.jpg" alt="">
                          <div class="card-img-overlay">
                            <h4 class="card-title">Musée Akaba Idena</h4>
                            <p class="card-text">Chambre du non retour</p>
                          </div>
                        </div>
                    </div>
                    <h2>Notre Histoire</h2>
                    <div class="down"></div>
                </div>
                
            </div>
        </div>
      </div>
      <div class="row" id="block5">      
        <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <center>
                <h4>KWABO Benin</h4>
            <p class="kwabo">
                Une agence dont la vison est de faciliter aux touristes <br>
                la visite des sites touristiques, monuments, places publiques <br>
                et autres rites culturelles du Benin.
            </p>
            </center>
          </div>
        </div>
       
        <div class="col-sm-3">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Description</h4>
            <ul class="list-unstyled">
              <li><a href="#">Accueil</a></li>
              <li><a href="Apropos.html">About</a></li>
              <li><a href="Catalogue.html">Catalogue</a></li>
              <li><a href="Contact.html">Contact</a></li>
              <li><a href="Inscription.html">S'inscrire</a></li>
              <li><a href="Connexion.html">Se Connecter</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
          <div class="col-sm-3">
              <h4>Nous suivre</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>				
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2023 - KWABO BENIN.  All rights reserved.</p>
</div>
      </div>
  
  
    </div>
    </div>
  </footer>
    
      </div>
    </div>

    {% block javascripts %}
        const menu = document.querySelector(".menu");
        const navMenu = document.querySelector(".nav-menu");

        menu.addEventListener("click", () => {
            menu.classList.toggle("active");
        navMenu.classList.toggle("active");
        });

        document.querySelectorAll(".nav-link").forEach((link) =>
        link.addEventListener("click", () => {
            menu.classList.remove("active");
            navMenu.classList.remove("active");
        })
        );

            var typed = new Typed(".multiple-text", {
            strings: ["Le Benin, comme nulle part ailleurs.", "Le pays qui voyage en vous.",
            "Destination Benin, prenez le temps de tout vivre !"],
                typeSpeed:100,
                backSpeed:100,
                backDelay:1000,
                loop: true
        })
    {% endblock %}

<script src="assets/js/bootstrap.js" ></script>
<script src="bootstrap.js.map" ></script>
<script src="bootstrap.min.js" ></script>
<script src="bootstrap.min.js.map" ></script>


</body>
</html>
